# Local development database
DATABASE_URL="postgresql://postgres:12345@localhost:5432/loan_app?schema=public"
DIRECT_DATABASE_URL="postgresql://postgres:12345@localhost:5432/loan_app?schema=public"

JWT_SECRET="replace-with-a-long-random-secret"
JWT_EXPIRES="7d"
FILE_BASE_URL="http://localhost:3000/uploads/"
FRONTEND_URL="http://localhost:3001"
PORT=3000

# Render production backend me:
# DATABASE_URL="your-production-pooled-database-url"
# DIRECT_DATABASE_URL="your-production-direct-database-url"
# FILE_BASE_URL="https://finance-app-i0ff.onrender.com/uploads/"
# FRONTEND_URL="https://finance-qgp6.onrender.com"
